@use "sass:map";

$client-pallete: (
    50: #faf6f4,
    100: #f3e9e4,
    200: #ebdad2,
    300: #e2cbc0,
    400: #dcbfb3,
    500: #d6b4a5,
    600: #d1ad9d,
    700: #cca493,
    800: #c69c8a,
    900: #bc8c79,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffe4d9,
    A700: #ffd2bf,
    contrast: (50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #000,
        500: #000,
        600: #000,
        700: #000,
        800: #000,
        900: #000,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000,
    )
);