// @use '@angular/material' as mat;
// @include mat.core();
// $custom-typography: mat.define-typography-config($font-family: 'Montserrat'
//     );

// @include mat.all-component-typographies($custom-typography);

.mat-step-header {
    pointer-events: none !important;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}