.main_div {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

mat-stepper {
  margin: 50px 0;

  .step-header {
    color: white
  }
}

mat-stepper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}

.right,
.left {
  text-align: center;
  margin: 10px;
}

@media all and (max-width: 800px) {
  mat-stepper {
    width: 400px;
  }
}