<mat-card>
    <div class="header">
        <img src="../../assets/tarzan-lizing-logo.png" alt="logo">
        <mat-card-header>
            <mat-card-title>Tarzan leasing</mat-card-title>
        </mat-card-header>
    </div>
    <div class="search-filter smallerFormField">
        <button mat-icon-button><span class="material-symbols-outlined">tune</span></button>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput placeholder="Search">
          </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="list">
    <ul>
        @if(listResponse$ | async; as listResponse){
            @for(res of listResponse; track res.id) {
                <li class="opened-{{res.isOpened}} {{res.status}}" (click)="openSelected(res.id)">
                    <div>
                        <h3>{{res.firstName + " " + res.secondName}}</h3>
                        <h4>ID: {{res.id}}</h4>
                    </div>
                    <div class="date-icon">
                        <h5>{{res.dateUpdated.getFullYear() + "-" + res.dateUpdated.getMonth().toString().padStart(2, "0") + "-" + res.dateUpdated.getDate()}}</h5>
                        @if(res.status === 'accepted'){
                            <span class="material-symbols-outlined">done</span>
                        }
                        @if(res.status === 'pending'){
                            <span class="material-symbols-outlined">schedule</span>
                        }
                    </div>
                </li>
                <mat-divider></mat-divider>
            }
        }
    </ul>
    </mat-card-content>
</mat-card>
