<mat-card>
    <div class="header">
        <img src="../../assets/tarzan-lizing-logo.png" alt="logo">
        <mat-card-header>
            <mat-card-title>Tarzan leasing</mat-card-title>
        </mat-card-header>
    </div>
    <div class="search-sort smallerFormField">
        <button mat-icon-button id="sort-button" (click)="showStatusSelect()"><span class="material-symbols-outlined">tune</span></button>
        @if(statusSelect){
            <div class="select-box">
                <p>New</p>
                <p>Pending</p>
                <p>Accepted</p>
                <p>Rejected</p>
            </div>
        }
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput placeholder="Search">
          </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="list">
    <ul>
        @if(listResponse$ | async; as listResponse){
            @for(res of listResponse; track res.statusResponse.id) {
                <li class="opened-{{res.statusResponse.isOpened}} {{res.statusResponse.applicationStatus}}" (click)="openSelected(res.statusResponse.id)">
                    <div>
                        <h3>{{res.personalInformationResponse.firstName + " " + res.personalInformationResponse.lastName}}</h3>
                        <h4>ID: {{res.statusResponse.id}}</h4>
                    </div>
                    <div class="date-icon">
                        <h5>{{res.statusResponse.updatedAt.slice(0,10)}}</h5>
                        @if(res.statusResponse.applicationStatus === 'accepted'){
                            <span class="material-symbols-outlined">done</span>
                        }
                        @if(res.statusResponse.applicationStatus === 'pending'){
                            <span class="material-symbols-outlined">schedule</span>
                        }
                    </div>
                </li>
                <mat-divider></mat-divider>
            }
        }
    </ul>
    </mat-card-content>
</mat-card>
