@use "@angular/material" as mat;

mat-card {

    .header,
    .search-sort {
        display: flex;
    }

    .search-sort {
        align-items: center;
        justify-content: center;
    }

    img {
        width: 60px;
        height: 50px;
        margin: 10px 0 10px 10px;
    }

    .smallerFormField {
        @include mat.form-field-density(-5);
    }

    mat-form-field {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    width: 100%;
    height: 100%;

    .list {
        text-align: left;
        overflow-y: auto;
        width: 100%;
        height: 100%;

        mat-divider {
            margin-bottom: 10px;
        }

        .app-list-view {
            height: 100%;
            width: 100%;
            border: 1px solid black;

            li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                border-radius: 2px;

                h3 {
                    margin: 0;
                }

                h4 {
                    margin-bottom: 0;
                }

                &.opened-false h3,
                &.opened-false h4,
                &.opened-false h5 {
                    font-weight: bold;
                }

                &.rejected {
                    opacity: 0.6;
                    background-color: rgb(224, 224, 224);
                    cursor: default;
                }

                .date-icon {
                    text-align: right;
                }
            }

            li:hover {
                background-color: #b29fd4;
                cursor: pointer;
            }
        }
    }

    li.REJECTED {
        opacity: 0.6;
        background-color: rgb(224, 224, 224);
        cursor: default;
    }

    .high-risk {
        color: #f44336;
    }

    li .date-icon {
        text-align: right;
    }
}