@use "@angular/material" as mat;

mat-card {

    .header,
    .search-sort {
        display: flex;
    }

    .search-sort {
        align-items: center;
        justify-content: center;

        #sort-button {
            position: relative;
        }

        .select-box {
            position: absolute;
            background-color: white;
            left: 0;
            top: 115px;
            z-index: 100;
            text-align: left;
            border: 1px solid lightgray;
            width: 150px;
            box-shadow: 3px 3px 5px lightgrey;

            p {
                cursor: pointer;
                padding: 15px 20px;
                margin: 0;
            }

            P:hover {
                background-color: rgb(230, 229, 229);
            }
        }
    }

    img {
        width: 60px;
        height: 50px;
        margin: 10px 0 10px 10px;
    }

    .smallerFormField {
        @include mat.form-field-density(-5);
    }

    mat-form-field {
        width: 80%;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
    }

    .list {
        text-align: left;
        overflow-y: auto;

        mat-divider {
            margin-bottom: 10px;
        }

        ul {
            height: 74vh;
        }
    }

    li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        border-radius: 2px;

        h3 {
            margin: 0;
        }

        h4 {
            margin-bottom: 0;
        }
    }

    li:hover {
        background-color: #b29fd4;
        cursor: pointer;
    }

    li.opened-false h3,
    li.opened-false h4,
    li.opened-false h5 {
        font-weight: bold;
    }

    li.rejected {
        opacity: 0.6;
        background-color: rgb(224, 224, 224);
        cursor: default;
    }

    li .date-icon {
        text-align: right;
    }
}