<mat-card>
    <div class="header">
        <img src="../../assets/tarzan-lizing-logo.png" alt="logo">
        <mat-card-header>
            <mat-card-title>Tarzan leasing</mat-card-title>
        </mat-card-header>
    </div>
    <div class="search-sort smallerFormField">
        <form [formGroup]="sortForm">         
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <input matInput placeholder="Search" formControlName="searchQuery" (keyup)="submit()">
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-select formControlName="selectedStatus" multiple placeholder="Sort by:" (selectionChange)="submit()">
                    <mat-option value="NEW">New</mat-option>
                    <mat-option value="PENDING">Pending</mat-option>
                    <mat-option value="ACCEPTED">Accepted</mat-option>
                    <mat-option value="REJECTED">Rejected</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="list">
    <ul>
        @if(listResponse$ | async; as listResponse){
            @for(res of listResponse; track res.id) {
                <li class="opened-{{res.isOpened}} {{res.status}}" (click)="openSelected(res.id)">
                    <div>
                        <h3>{{res.firstName + " " + res.lastName}}</h3>
                        <h4>ID: {{res.id}}</h4>
                    </div>
                    <div class="date-icon">
                        <h5>{{res.updatedAt.slice(0,10)}}</h5>
                        @if(res.status === "ACCEPTED"){
                            <span class="material-symbols-outlined">done</span>
                        }
                        @if(res.status === "PENDING"){
                            <span class="material-symbols-outlined">schedule</span>
                        }
                    </div>
                </li>
                <mat-divider></mat-divider>
            }
        }
    </ul>
    </mat-card-content>
</mat-card>
