<div>
  <img src="../../assets/fancy.png" alt="fancy car">
  <div class="textContainer">
    <div>Fill out the form. It includes details about vehicle as well as your personal information.</div>
    <div>Submit the form and make sure to check your email from time to time - we don‘t take long to reply.</div>
    <div>Carefully study our leasing offer and - if all information is correct - sign the agreement.</div>
    <div>Get ready to live the dream - requested money will be transferred to your account shortly.</div>
  </div>
</div>
