@import '../../../../styles.scss';

.centered-title {
  text-align: center;
}

.main {
  padding-top: 50px;
  background-color: $background;
  display: flex;
  justify-content: space-between;
}

.right,
.middle,
.left {
  text-align: center;
  margin: 0;
}

.left {
  width: 25%;
  height: 95vh;
}

.right {
  width: 23%;
  align-self: center;
}

.middle {
  width: 57%;
  height: 95vh;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
}

.header-logo {
  width: 3%;
  height: auto;
  margin: 0 1vh;
}

.header-title {
  font-family: $font;
  color: $header-color;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
