.container {
  .carLeasingForm {
    form {
      select {
        width: 100%; // Adjust this as per your requirement
        margin-bottom: 15px;
        color: #999;

        option {
          color: black; // This will make the selected option black
        }
      }
      ::placeholder {
        font-size: 0.7em;
      }
    }
  }
}
