<div class="container">
  <div class="carLeasingForm">
    <form [formGroup]="carLeasingForm" (ngSubmit)="onSubmit()">
      <div class="mainContainer">
        <div class="leftColumn">
          <mat-form-field>
            <mat-label>Make</mat-label>
            <mat-hint>select car make</mat-hint>
            <mat-select
              formControlName="make"
              >
              @for (carMake of carMakes$ | async; track $index) {
              <mat-option [value]="carMake">{{ carMake }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="model">Model</mat-label>
            <mat-hint>select make for options</mat-hint>
            <mat-select
              formControlName="model"
              (selectionChange)="onSelectModel()"
            >
              @for (model of (carModels$ | async); track $index) {
              <mat-option [value]="model.name">{{ model.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="modelVariant">Model variant (optional)</mat-label>
            <mat-hint>select model for options</mat-hint>
            <mat-select
              formControlName="modelVariant"
              (selectionChange)="onSelectModelVariant()"
            >
              @for (variant of carModelVariants$ | async; track $index)
              {
              <mat-option [value]="variant.name">{{
                variant.name
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="year">Year of manufacture</mat-label>
            <mat-hint>select model or variant for options</mat-hint>
            <mat-select formControlName="year">
              @for (year of (carDetails$ | async)?.years; track $index) {
              <mat-option [value]="year">{{ year }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="rightColumn">
          <mat-form-field>
            <mat-label for="fuelType">Fuel type</mat-label>
            <mat-hint>select model or variant for options</mat-hint>
            <mat-select formControlName="fuelType">
              @for (fuelType of (carDetails$ | async)?.fuelTypes; track $index)
              {
              <mat-option [value]="fuelType">{{ fuelType }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="enginePower">Engine power (hp)</mat-label>
            <mat-hint>select model or variant for options</mat-hint>
            <mat-select formControlName="enginePower">
              @for (enginePower of (carDetails$ | async)?.enginePowers; track
              $index) {
              <mat-option [value]="enginePower">{{ enginePower }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="engineSize">Engine size (liters)</mat-label>
            <mat-hint>select model or variant for options</mat-hint>
            <mat-select formControlName="engineSize">
              @for (engineSize of (carDetails$ | async)?.engineSizes; track
              $index) {
              <mat-option [value]="engineSize">{{ engineSize }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="url">URL (optional)</mat-label>
            <mat-hint>paste car offer URL here</mat-hint>
            <input matInput type="url" id="url" formControlName="url" />
          </mat-form-field>

          <button type="button" mat-raised-button (click)="fileInput.click()">
            Upload file (optional)
          </button>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
          />
          <span class="file-name">{{ selectedFile?.name }}</span>
        </div>
      </div>
      <div class="bottomContainer">
        <mat-checkbox formControlName="confirmation">
          I confirm that the above information is accurate
        </mat-checkbox>
        <mat-checkbox formControlName="terms">
          I have read and agree with the Terms and Conditions:
        </mat-checkbox>
        <button
          class="submitButton"
          mat-raised-button
          [color]="getButtonColor()"
          type="submit"
          [disabled]="!carLeasingForm.valid"
        >
          APPLY FOR LOAN
        </button>
      </div>
    </form>
  </div>
</div>
