.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftRow,
.rightRow {
  display: grid;
  width: 47%;
}

.bottom {
  display: grid;
  width: 100%;
}

::placeholder,
.mat-form-field-label,
mat-hint {
  font-size: 0.7em;
}

mat-hint {
  color: rgb(171, 171, 171);
  margin-top: -5px;
}

form button {
  width: 100px;
  margin: 10px auto 0;
}