
.mainContainer{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leftRow, .rightRow{
  display: grid;
  width: 40%;
}
.bottom{
  display: grid;
  width: 100%;
}
::placeholder,.mat-form-field-label {
  font-size: 0.7em;
}
