<form [formGroup]="personalInformationForm" (ngSubmit)="onSubmit()">
  <div class="mainContainer">
    <div class="leftRow">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <mat-hint>only letters and “-”</mat-hint>
        <input
          required
          matInput
          type="text"
          id="firstName"
          formControlName="firstName"
          placeholder="First name"
      /></mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <mat-hint>only letters and “-”</mat-hint>
        <input
          required
          matInput
          type="text"
          id="secondName"
          formControlName="secondName"
          placeholder="Last name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <mat-hint>test&#64;test.com</mat-hint>
        <input
          required
          matInput
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email address"
      /></mat-form-field>
      <mat-form-field>
        <mat-hint>+37060999666</mat-hint>
        <mat-label>Phone number</mat-label>

        <input
          required
          matInput
          type="tel"
          id="phone"
          formControlName="phone"
          placeholder="Phone no."
      /></mat-form-field>
    </div>
    <div class="rightRow">
      <mat-form-field>
        <mat-label>Personal ID number</mat-label>
        <mat-hint>just letters and numbers</mat-hint>
        <input
          required
          matInput
          type="text"
          id="pid"
          formControlName="pid"
          placeholder="Personal ID number"
      /></mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="mat-form-field-label">Date of birth</mat-label>
        <mat-hint>you must be at least 18 years old</mat-hint>
        <input
          required
          matInput
          id="date"
          formControlName="date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Marital status</mat-label>
        <mat-hint>select from the dropdown list</mat-hint>
        <mat-select required id="maritalStatus" formControlName="maritalStatus">
          <mat-option value="Single">Single</mat-option>
          <mat-option value="Married">Married</mat-option>
          <mat-option value="Partnership">Partnership</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of children</mat-label>
        <mat-hint>enter an integer >= 0</mat-hint>
        <input
          required
          matInput
          type="text"
          id="childrenCount"
          formControlName="childrenCount"
          placeholder="Number of children"
        />
      </mat-form-field>
    </div>
  </div>
  <mat-form-field required class="bottom">
    <mat-label>Citizenship</mat-label>
    <mat-hint>select an EU country from dropdown list</mat-hint>
    <mat-select
      id="citizenship"
      formControlName="citizenship"
      matNativeControl
      required
    >
      <mat-option value="Austria">Austria</mat-option>
      <mat-option value="Belgium">Belgium</mat-option>
      <mat-option value="Bulgaria">Bulgaria</mat-option>
      <mat-option value="Croatia">Croatia</mat-option>
      <mat-option value="Cyprus">Cyprus</mat-option>
      <mat-option value="Czech Republic">Czech Republic</mat-option>
      <mat-option value="Denmark">Denmark</mat-option>
      <mat-option value="Estonia">Estonia</mat-option>
      <mat-option value="Finland">Finland</mat-option>
      <mat-option value="France">France</mat-option>
      <mat-option value="Germany">Germany</mat-option>
      <mat-option value="Greece">Greece</mat-option>
      <mat-option value="Hungary">Hungary</mat-option>
      <mat-option value="Ireland">Ireland</mat-option>
      <mat-option value="Italy">Italy</mat-option>
      <mat-option value="Latvia">Latvia</mat-option>
      <mat-option value="Lithuania">Lithuania</mat-option>
      <mat-option value="Luxembourg">Luxembourg</mat-option>
      <mat-option value="Malta">Malta</mat-option>
      <mat-option value="Netherlands">Netherlands</mat-option>
      <mat-option value="Poland">Poland</mat-option>
      <mat-option value="Portugal">Portugal</mat-option>
      <mat-option value="Romania">Romania</mat-option>
      <mat-option value="Slovakia">Slovakia</mat-option>
      <mat-option value="Slovenia">Slovenia</mat-option>
      <mat-option value="Spain">Spain</mat-option>
      <mat-option value="Sweden">Sweden</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="bottom"
    ><mat-label>Monthly income after taxes and commitments</mat-label>
    <input
      required
      matInput
      id="montlyIncome"
      formControlName="montlyIncome"
      type="text"
      placeholder="Monthly income after taxes and commitments"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    matStepperNext
    [disabled]="!personalInformationForm.valid"
    (click)="onSubmit()"
  >
    Next
  </button>
</form>
