:host {
  min-height: calc(100vh - 60px);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}

.text {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(58, 58, 58);
  line-height: 60px;
  text-align: center;
  max-width: 1000px;
}

.textContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  margin: 30px 0 50px;
  max-width: 450px;
  font-weight: 200;
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
}

.scroll-btn {
  width: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #D6B4A5;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  text-align: center;
  color: black;
}

.scroll-btn:hover {
  background-color: #ae8b7c;
  cursor: pointer;
}

@media all and (max-width: 960px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    line-height: 50px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

@media all and (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}