<h2>STATISTICS</h2>
<div class="cards">
<div class="card-container">
    <div class="card-header">Total Loan Value <span>| Year</span></div>
    <div class="card-content">
       <div class="symbol"></div>
    </div>
</div>
<div class="card-container">
    <div class="card-header">Customers <span>| Month</span></div>
    <div class="card-content">
       <div class="symbol"></div>
    </div>
</div>
<div class="card-container">
    <div class="card-header">High Risk <span> | Month</span></div>
    <div class="card-content">
       <div class="symbol"></div>
    </div>
</div>
</div>
<div class="graph-container">
    Monthly application graph
</div>
<div class="piechart-container">
    Application status piechart
</div>
