<h2>Car leasing calculator</h2>
<form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <div class="form-line">
        <label for="carValue">Car value</label>
        <input type="number" id="carValue" min="300" placeholder="EUR" formControlName="carValue">
    </div>
    <div class="form-line">
        <label for="period">Period</label>
        <select name="period" id="period" formControlName="period">
        <option value="months" disabled selected>Months</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="18">18</option>
        <option value="24">24</option>
        <option value="36">36</option>
        <option value="48">48</option>
        <option value="60">60</option>
        </select>
    </div>
    <div class="form-line">
        <label for="downpayment">Down payment</label>
        <input type="number" min="0" id="downpayment" placeholder="EUR" formControlName="downpayment">
    </div>
    <div class="form-line">
        <label for="residual">Residual value</label>
        <select name="residual" id="residual" formControlName="residual">
            <option value="0">0%</option>
            <option value="5">5%</option>
            <option value="10">10%</option>
            <option value="15">15%</option>
            <option value="20">20%</option>
            <option value="25">25%</option>
            <option value="30">30%</option>
        </select>
    </div>
    <div class="form-line">
        <label>Environmentally friendly car</label>
        <mat-slide-toggle formControlName="envFriendly"></mat-slide-toggle>
    </div>
    <div class="form-line">
        <label>Monthly payment from</label>
        <div class="monthlyPayment">CUSTOM VALUE</div>
    </div>
    <button type="submit">APPLY</button>
</form>
