form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form button {
    width: 50%;
    margin: 0 auto;
}

.monthlyPayment {
    display: inline;
    margin-left: 10px;
}

.form-line {
    display: flex;
    justify-content: space-between;
}

form input {
    width: 110px;
}

form select {
    width: 118px;
}