.email-box {
    display: block;
    height: 40vh;
    text-align: left;
    overflow-y: auto;
    // does not work
    // box-shadow: 1px 1px 2px rgb(213, 213, 213),
    //     -1px -1px 2px rgb(213, 213, 213);
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
}