<div class="container">
  <mat-form-field class="dropdown-template">
    <mat-label>Template</mat-label>
    <mat-select [(value)]="selectedTemplate">
      <mat-option value="rejected">Rejected</mat-option>
      <mat-option value="accepted">Accepted</mat-option>
      <mat-option value="more-info">Details clarification</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>
  <div
    class="mail-content-box"
    [innerHTML]="mailContent"
    contentEditable="true"
    [attr.data-placeholder]="selectedTemplate ? '' : 'Select a template'"
    [attr.contentEditable]="selectedTemplate ? 'true' : 'false'"
  ></div>
</div>

<div>
  <button
    mat-stroked-button
    color="warn"
    type="button"
    (click)="sendMail()"
    class="bottom-right"
  >
    Send
  </button>
</div>
