<div class="container">
  <mat-form-field class="dropdown-template">
    <mat-label>Template</mat-label>
    <mat-select [(value)]="selectedTemplate" (selectionChange)="onTemplateSelect()">
      <mat-option value="rejected">Rejected</mat-option>
      <mat-option value="accepted">Accepted</mat-option>
      <mat-option value="more-info">Details clarification</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>

  @if(isEditing) {
    <textarea
        [(ngModel)]="editableMailContent"
        class="mail-content-box"
        [attr.data-placeholder]="selectedTemplate ? '' : 'Select a template'">
     </textarea>
  }
  @if(!isEditing) {
    <div
       [innerHTML]="mailContent"
       class="mail-content-box"
       [attr.data-placeholder]="selectedTemplate ? '' : 'Select a template'"
       contentEditable="false">
  </div>
  }
</div>

<div>
  <button
    mat-stroked-button
    color="warn"
    type="button"
    (click)="sendMail()"
    class="bottom-right"
  >
    Send
  </button>
</div>
