<mat-card-content class="container">
  <mat-form-field class="dropdown-template">
    <mat-label>Template</mat-label>
    <mat-select [(value)]="selectedTemplate">
      <mat-option value="rejected">Rejected</mat-option>
      <mat-option value="accepted">Accepted</mat-option>
      <mat-option value="more-info">Details clarification</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>
  <div [innerHTML]="mailContent"></div>
  <button
    mat-stroked-button
    color="warn"
    type="button"
    (click)="sendMail()"
    class="bottom-left"
  >
    Send
  </button>
</mat-card-content>
