.container {
  position: relative;
  border-top: 1px solid #d6d6d6;
  height: 35vh;
  text-align: left;
  overflow-y: hidden;
  display: block;
  overflow-x: hidden;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  right: 0;
}

