<mat-card>
    <mat-card-header id="client-title">
        <mat-card-title>Client data</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
    @if(responseData$ | async; as responseData){
        <p><strong>Full Name:</strong> {{responseData.firstName + " " + responseData.lastName}}</p>
        <p><strong>Citizenship:</strong> {{responseData.citizenship}}</p>
        <p><strong>Age:</strong> {{calulateAge(responseData.dateOfBirth)}}</p>
        <p><strong>Phone No.:</strong> {{responseData.phone}}</p>
        <p><strong>Marital Status:</strong> {{responseData.maritalStatus}}</p>
        <p><strong>Number of Children:</strong> {{responseData.numberOfChildren}}</p>
        <p><strong>Monthly Net Income:</strong> {{responseData.monthlyIncome}}&euro;</p>
    }
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header id="lease-title">
        <mat-card-title>Lease data</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        @if(responseData$ | async; as responseData){
            <p><strong>Car brand:</strong> {{responseData.carMake}}</p>
            <p><strong>Car model:</strong> {{responseData.carModel}}</p>
            <p><strong>Car model variant:</strong> {{responseData.carModelVatiant}}</p>
            <p><strong>Car offer url:</strong> {{responseData.carOfferUrl}}</p>
            <p><strong>Period:</strong> {{responseData.period}}</p>
            <p><strong>Residual value:</strong> {{responseData.residualValue}}</p>
            <p><strong>Down payment:</strong> {{responseData.downPayment}}</p>
            <p><strong>Environmentally friendly:</strong> {{responseData.period}}</p>
            <p><strong>Monthly payments:</strong> {{responseData.monthlyPayment}}/month</p>
            <p><strong>Car value:</strong> {{responseData.carValue}}&euro;</p>
        }
    </mat-card-content>
</mat-card>
  
