mat-card {
    text-align: left;

    p {
        margin-bottom: 6px;
    }
}

mat-card-header {
    display: flex;
    justify-content: space-around;
}

mat-card:last-of-type {
    margin-top: 10px;
}

mat-divider {
    margin: 15px 0;
}