mat-card {
    margin-bottom: 20px;
    text-align: left;

    p {
        margin-bottom: 5px;
    }
}

#client-title,
#lease-title {
    display: flex;
    justify-content: center;
}

mat-divider {
    margin: 15px 0;
}