mat-card {
    text-align: left;

    p {
        margin-bottom: 9px;
    }
}

#client-title,
#lease-title {
    display: flex;
    justify-content: space-between;
}

mat-card:last-of-type {
    margin-top: 20px;
}

mat-divider {
    margin: 15px 0;
}